# Virtual Environments
venv/
env/

# Secrets & API Keys (CRITICAL)
.env
gcp-key.json
*.pem

# Python Caches & Testing
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# OS System Files (Since you are on a Mac)
.DS_Store